* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}
header {
  background-image: url("./images/bg-hero-desktop.svg");
    background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 20px;
  /* display: flex;
    flex-direction: column; */
}
/* .upperHeader {
 
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: auto;
}
.upleft {
  width: 25%;
  height: 70%;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.upright {
  
  width: 20%;
  height: 80%;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.headerButton {
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.712);
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: smaller;
  width: 250px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}
.headerButton2 {
  background-color:pink;
  border: none;
  color: rgba(0, 0, 0, 0.712);
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: smaller;
  width: 250px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}
.headerButton:hover {
  background-color: #f1f1f1;
}
.bottum {
    background-color: blueviolet;
  width: 95%;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
.headerleftBottom {
    width: 23%;
  align-self: center;

}
 */
